{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="section">

    <h2>Buy</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for buy in buys %}
                <tr>
                    <td>{{ buy.stock }}</td>
                    <td>{{ buy.symbol }}</td>
                    <td>{{ buy.price }}</td>
                    <td>{{ buy.buy }}</td>
                    <td>{{ buy.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Sell</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for sell in sells %}
                <tr>
                    <td>{{ sell.stock }}</td>
                    <td>{{ sell.symbol }}</td>
                    <td>{{ sell.price }}</td>
                    <td>{{ sell.sell }}</td>
                    <td>{{ sell.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}